In [6]:
# Boiler code
from pyspark.sql import SparkSession
import getpass
username=getpass.getuser()
spark=SparkSession.\
    builder.\
    config('spark.ui.port','0').\
    config("spark.sql.warehouse.dir",f"/user/{username}/warehouse").\
    enableHiveSupport().\
    master('yarn').\
    getOrCreate()

In [8]:
orders_df = spark.read \
.format("csv") \
.option("header","true") \
.option("inferSchema","true") \
.load("source_file_path")

In [9]:
orders_df.show(5)

+--------+--------------------+-----------+---------------+
|order_id|          order_date|customer_id|   order_status|
+--------+--------------------+-----------+---------------+
|       1|2013-07-25 00:00:...|      11599|         CLOSED|
|       2|2013-07-25 00:00:...|        256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|      12111|       COMPLETE|
|       4|2013-07-25 00:00:...|       8827|         CLOSED|
|       5|2013-07-25 00:00:...|      11318|       COMPLETE|
+--------+--------------------+-----------+---------------+
only showing top 5 rows

In [10]:
# Alternative To read csv file
order = spark.read\
.csv("file_path",header = "true",inferSchema = "true")

In [11]:
order.show(5)

+--------+--------------------+-----------+---------------+
|order_id|          order_date|customer_id|   order_status|
+--------+--------------------+-----------+---------------+
|       1|2013-07-25 00:00:...|      11599|         CLOSED|
|       2|2013-07-25 00:00:...|        256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|      12111|       COMPLETE|
|       4|2013-07-25 00:00:...|       8827|         CLOSED|
|       5|2013-07-25 00:00:...|      11318|       COMPLETE|
+--------+--------------------+-----------+---------------+
only showing top 5 rows

In [12]:
# Alternative To read csv file
order_df = spark.read\
.json("json_file_path")

In [13]:
order_df.show(5)

+-----------+--------------------+--------+---------------+
|customer_id|          order_date|order_id|   order_status|
+-----------+--------------------+--------+---------------+
|      11599|2013-07-25 00:00:...|       1|         CLOSED|
|        256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|
|      12111|2013-07-25 00:00:...|       3|       COMPLETE|
|       8827|2013-07-25 00:00:...|       4|         CLOSED|
|      11318|2013-07-25 00:00:...|       5|       COMPLETE|
+-----------+--------------------+--------+---------------+
only showing top 5 rows

In [14]:
order_df.createOrReplaceTempView("orders")

In [15]:
filtered_orders = spark.sql("select * from orders where order_status = 'CLOSED'")

In [16]:
filtered_orders.show(5)

+-----------+--------------------+--------+------------+
|customer_id|          order_date|order_id|order_status|
+-----------+--------------------+--------+------------+
|      11599|2013-07-25 00:00:...|       1|      CLOSED|
|       8827|2013-07-25 00:00:...|       4|      CLOSED|
|       1837|2013-07-25 00:00:...|      12|      CLOSED|
|       1205|2013-07-25 00:00:...|      18|      CLOSED|
|      11441|2013-07-25 00:00:...|      24|      CLOSED|
+-----------+--------------------+--------+------------+
only showing top 5 rows

In [17]:
df1 = spark.read.table("orders")

In [18]:
df1.show(6)

+-----------+--------------------+--------+---------------+
|customer_id|          order_date|order_id|   order_status|
+-----------+--------------------+--------+---------------+
|      11599|2013-07-25 00:00:...|       1|         CLOSED|
|        256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|
|      12111|2013-07-25 00:00:...|       3|       COMPLETE|
|       8827|2013-07-25 00:00:...|       4|         CLOSED|
|      11318|2013-07-25 00:00:...|       5|       COMPLETE|
|       7130|2013-07-25 00:00:...|       6|       COMPLETE|
+-----------+--------------------+--------+---------------+
only showing top 6 rows

In [20]:
# spark_sql
spark.sql("create database if not exists retail")

++
||
++
++

In [ ]:
spark.sql("show databases").show()

In [ ]:
spark.sql("show databases").filter("namespace ='retail'").show()

In [23]:
spark.sql("use retail")

++
||
++
++

In [ ]:
spark.sql("show tables").show()

In [25]:
spark.sql("create table retail.orders(order_id integer, order_date string, customer_id integer, order_status string)")

++
||
++
++

In [ ]:
spark.sql("use retail")
spark.sql("show tables").show()

In [27]:
spark.sql("insert into retail.orders select * from orders")

++
||
++
++

In [28]:
spark.sql("select * from retail.orders limit 5").show()

+--------+--------------------+-----------+---------------+
|order_id|          order_date|customer_id|   order_status|
+--------+--------------------+-----------+---------------+
|   11599|2013-07-25 00:00:...|          1|         CLOSED|
|     256|2013-07-25 00:00:...|          2|PENDING_PAYMENT|
|   12111|2013-07-25 00:00:...|          3|       COMPLETE|
|    8827|2013-07-25 00:00:...|          4|         CLOSED|
|   11318|2013-07-25 00:00:...|          5|       COMPLETE|
+--------+--------------------+-----------+---------------+

In [44]:
#external table
spark.sql("create table retail.orders_external(order_id integer, order_date string, customer_id integer, order_status string) location 'file_path'")

++
||
++
++