In [1]:
from pyspark.sql import SparkSession
import getpass
username=getpass.getuser()
spark=SparkSession.\
    builder.\
    config('spark.ui.port','0').\
    config("spark.sql.warehouse.dir",f"/user/{username}/warehouse").\
    enableHiveSupport().\
    master('yarn').\
    getOrCreate()

In [2]:
orders_df = spark.read \
.format("csv") \
.option("header","true") \
.option("inferSchema","true") \
.load("source_file_path")

In [4]:
orders_df.show(5)

+--------+--------------------+-----------+---------------+
|order_id|          order_date|customer_id|   order_status|
+--------+--------------------+-----------+---------------+
|       1|2013-07-25 00:00:...|      11599|         CLOSED|
|       2|2013-07-25 00:00:...|        256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|      12111|       COMPLETE|
|       4|2013-07-25 00:00:...|       8827|         CLOSED|
|       5|2013-07-25 00:00:...|      11318|       COMPLETE|
+--------+--------------------+-----------+---------------+
only showing top 5 rows

In [5]:
orders_df.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- order_date: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- order_status: string (nullable = true)

In [6]:
df1 = orders_df.withColumnRenamed("order_status","status")

In [7]:
df1.show(1)

+--------+--------------------+-----------+------+
|order_id|          order_date|customer_id|status|
+--------+--------------------+-----------+------+
|       1|2013-07-25 00:00:...|      11599|CLOSED|
+--------+--------------------+-----------+------+
only showing top 1 row

In [9]:
from pyspark.sql.functions import *

In [10]:
df2 = df1.withColumn("order_date_new", to_timestamp("order_date"))

In [12]:
df2.show(1)

+--------+--------------------+-----------+------+-------------------+
|order_id|          order_date|customer_id|status|     order_date_new|
+--------+--------------------+-----------+------+-------------------+
|       1|2013-07-25 00:00:...|      11599|CLOSED|2013-07-25 00:00:00|
+--------+--------------------+-----------+------+-------------------+
only showing top 1 row